<!DOCTYPE html>
<html lang="ja">
<head>
	<title><%= title %></title>

	<!-- css -->
	<link rel='stylesheet' href='/stylesheets/style.css' />
		    
        <!-- bootstrap -->
        <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<script type="text/javascript">
        	$(document).on('click', '.delete' ,function(){
			var cmd = $(this).data('cmd');
		        $.ajax({
				url: '/boards/'+<%= board.board_id %>,
				data: { messageId: cmd},
				type: 'delete',
				success: function() {
					location.reload(false);
				},
				error: function() {
					alert('error!!');
				}
			})
		});
	</script>
</head>
<body>
	<div class="rightText">
		<% if (typeof user !== 'undefined') { %>
			<span class="login-user">Log in as <%= user.user_name %></span><br/>
			<a href="/logout">Log out</a>
		<% } %>
	</div>

	<div class="wrapper">
		<h3 class="main-title">"<%= title %>" Board</h3>
		<form action="/boards/ <%= board.board_id %>" method="post" class="board-form">
			<input type="text" name="message" class="input form-control" placeholder="Enter Message"  required>
			<button type="submit" class="right submit btn btn-primary">POST</button>
		</form><br/><br/><br/>

		<% if (messageList.length) { %>
			<ul class="main-list list-group">
				<% messageList.forEach(function(messageItem) { %>
					<li class="main-list__item list-group-item">
						<div class="container">
							<button class="delete right" data-cmd="<%= messageItem.message_id %>">X</button>
							<p class="message__date rightText"><%= messageItem.created_at %><br/><%= messageItem.user_name %></p>
							<div class="text">
								<p class="message__title message"><%= messageItem.message %></p>
							</div>
						</div>
					</li>
				<% }); %>
			</ul>
		<% } %>
		
		<div class="centerText">
			<a href="/">Back To Main Page</a>
		</div>
	</div>
</body>
</html>

