<!DOCTYPE html>
<html>
  <head>
  	<title><%= title %></title>
    
    	<!-- bootstrap -->
    	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<!-- Google fonts -->
	<link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">
	
	<!-- css -->
    	<link rel='stylesheet' href='/stylesheets/style.css'/>
    	<link rel='stylesheet' href='/stylesheets/index.css'/>

	<script src="/socket.io/socket.io.js"></script>
	<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
	<script type="text/javascript">
                $(document).on('click', '.delete' ,function(){
			if(window.confirm('Are you sure to delete "'+ $(this).data('name') + '" board?')){
				var cmd = $(this).data('cmd');
				$.ajax({
					url: '/',
					data: { boardId: cmd},
					type: 'delete',
					success: function() {
						location.reload(false);	
   					},
					error: function() {
						alert('error!!');
					}
				});
			}else{
				window.alert('Canceled');
			}
		});

		$(document).on('click', '#fileBtn', function(){
			var boardText = document.getElementById("boardText").value;
			if(!boardText){
				alert("Please type the board title");
				return false;
			}
		})
		
		$(document).ready(function(){
			$("#fileBtn").on('change',function(){
				$("#boardBtn").click();		
			});
		});

		//var socket = io();
		var socket;
		socket = io.connect("http://localhost:8080");
		$(function() {
			$('#messageForm').submit(function() {
				var message = $('#chatMsg').val();
				if (message === ''){
					return false;
				}
		      		socket.emit('message', message);
				$('#chatMsg').val('').focus();
				return false;
  			});
	 	});

    		socket.on('message', function(msg, id) {
			var userName = <%= user.user_name %> + '';
			$('#message').append($('<li class="main-list__item list-group-item">').text(userName + " : " + msg));
		});


    	</script>
	  
  </head>
  
  <body class="dashBoardBody">
	<div class="rightText margin10">
		<% if (typeof user !== 'undefined') { %>
			<span class="login-user">Log in as <%= user.user_name %></span><br/>
			<a href="/logout">Log out</a>
		<% } %>
	</div>
	<div class="container">
    		<div class="row">
			<div class="col-sm-6">	
				<form action="/" method="post" enctype="multipart/form-data" class="board-form">
					<h3>Create a Board</h3>
					<input id="boardText" type="text" name="title" class="input form-control" placeholder="Enter Title" required>
			
					<button id="boardBtn" type="submit" class="btn" style="display:none">Create</button>
					<label class="margin5 right btn btn-info">
						Create
						<input id="fileBtn" type="file" name="image_file" class="right file" style="display:none">
					</label>
				</form><br/><br/><br/>
				<ul class="main-list list-group">
					<% boardList.forEach(function(boardItem) { %>
					<li class="main-list__item list-group-item">
						<% if (boardItem.image_path) { %>
							<img src="<%= boardItem.image_path %>" class="img-circle icon" alt="Cinque Terre" width="50" height="50">
						<% } %>
						<a href="/boards/<%= boardItem.board_id %>">
							<label class="board__title"><%= boardItem.title %></label>
						</a>
						<button class="right delete" data-cmd="<%= boardItem.board_id %>" data-name="<%= boardItem.title %>">X</button>
						<p class="board__date rightText"><%= boardItem.user_name %><br/><%= boardItem.created_at %></p>
					</li>
					<% }); %>
				</ul>
			</div>
			<div class="col-sm-6">
				<h3>Chat</h3>
				<div id="controls">
					<form id="messageForm" action="">

						<input id="chatMsg" type="text" class="input form-control" placeholder="Message here..." required>
						<input type="submit" id="chatBtn" class="margin5 right btn btn-info" value="Enter">
		    			</form>
				</div><br/><br/><br/>
				<!--
				<ul id="message"></ul>
				-->
				<ul id="message" class="main-list list-group"></ul>
			</div>
		</div>
    	</div>

</body>
</html>
